// Button
//-------------------------------------------------//
.button {
    @include inline-block;
    
    background: $white;
    
    padding: $spacingSmall $spacingMedium;
    
    color: $black;
    text-decoration: none; 
    
    @include border-radius(6px);
    
    &.-black {
        background: $black;
        
        color: $white;
    }
    
    &.-active,
    &:hover {
        background: $grey;
        
        color: $black;
    }
}
//-------------------------------------------------//